Rilascio4/WSDL/WebServiceLogin.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ax23="http://entity.uiip/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://ws.uiip" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.uiip">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax24="http://entity.uiip/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.uiip">
            <xs:import namespace="http://entity.uiip/xsd"/>
            <xs:element name="controllaLogin">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" nillable="false" type="xs:string"/>
                        <xs:element name="password" nillable="false" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="controllaLoginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="ax23:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.uiip/xsd">
            <xs:complexType name="Account">
                <xs:sequence>
                    <xs:element name="cognome" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="gruppi" nillable="true" type="ax23:Gruppo"/>
                    <xs:element name="nome" nillable="true" type="xs:string"/>
                    <xs:element name="password" nillable="false" type="xs:string"/>
                    <xs:element minOccurs="0" name="sigla_giornalista" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sigla_redazione" nillable="true" type="xs:string"/>
                    <xs:element name="stato" nillable="true" type="xs:string"/>
                    <xs:element name="username" nillable="false" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Gruppo">
                <xs:sequence>
                    <xs:element name="funzioni" nillable="true" type="xs:anyType"/>
                    <xs:element name="id_g" nillable="false" type="xs:string"/>
                    <xs:element name="nomeGruppo" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="controllaLoginRequest">
        <wsdl:part element="ns:controllaLogin" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="controllaLoginResponse">
        <wsdl:part element="ns:controllaLoginResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="LoginWSPortType">
        <wsdl:operation name="controllaLogin">
            <wsdl:input message="ns:controllaLoginRequest" wsaw:Action="urn:controllaLogin"/>
            <wsdl:output message="ns:controllaLoginResponse" wsaw:Action="urn:controllaLoginResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LoginWSSoap11Binding" type="ns:LoginWSPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="controllaLogin">
            <soap:operation soapAction="urn:controllaLogin" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LoginWSSoap12Binding" type="ns:LoginWSPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="controllaLogin">
            <soap12:operation soapAction="urn:controllaLogin" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LoginWSHttpBinding" type="ns:LoginWSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="controllaLogin">
            <http:operation location="controllaLogin"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LoginWS">
        <wsdl:port binding="ns:LoginWSSoap11Binding" name="LoginWSHttpSoap11Endpoint">
            <soap:address location="http://localhost:8080/WSBL/services/LoginWS.LoginWSHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:LoginWSSoap12Binding" name="LoginWSHttpSoap12Endpoint">
            <soap12:address location="http://localhost:8080/WSBL/services/LoginWS.LoginWSHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:LoginWSHttpBinding" name="LoginWSHttpEndpoint">
            <http:address location="http://localhost:8080/WSBL/services/LoginWS.LoginWSHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
