Rilascio4/WSDL/WebServiceNotizieBatch.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ax25="http://entity.uiip/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://ws.uiip" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.uiip">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax26="http://entity.uiip/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.uiip">
            <xs:import namespace="http://entity.uiip/xsd"/>
            <xs:element name="trasmettiNotizia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="notizia" type="ax25:Notizia"/>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="user" type="xs:string"/>
                        <xs:element name="pass" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="trasmettiNotiziaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.uiip/xsd">
            <xs:complexType name="Notizia">
                <xs:sequence>
                    <xs:element name="autore" nillable="true" type="xs:string"/>
                    <xs:element name="datacreazione" type="xs:string"/>
                    <xs:element name="datatrasmissione" nillable="true" type="xs:string"/>
                    <xs:element name="id_N" type="xs:int"/>
                    <xs:element name="lock_n" type="xs:string"/>
                    <xs:element name="lunghezzatesto" type="xs:int"/>
                    <xs:element name="sottotitolo" nillable="true" type="xs:string"/>
                    <xs:element name="stato" nillable="true" type="xs:string"/>
                    <xs:element name="testo" nillable="true" type="xs:string"/>
                    <xs:element name="titolo" nillable="true" type="xs:string"/>
                    <xs:element name="ultimoAccesso" type="xs:string"/>
                    <xs:element name="ultimodigitatore" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="trasmettiNotiziaRequest">
        <wsdl:part element="ns:trasmettiNotizia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="trasmettiNotiziaResponse">
        <wsdl:part element="ns:trasmettiNotiziaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="NewsBatchWSPortType">
        <wsdl:operation name="trasmettiNotizia">
            <wsdl:input message="ns:trasmettiNotiziaRequest" wsaw:Action="urn:trasmettiNotizia"/>
            <wsdl:output message="ns:trasmettiNotiziaResponse" wsaw:Action="urn:trasmettiNotiziaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NewsBatchWSSoap11Binding" type="ns:NewsBatchWSPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="trasmettiNotizia">
            <soap:operation soapAction="urn:trasmettiNotizia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NewsBatchWSSoap12Binding" type="ns:NewsBatchWSPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="trasmettiNotizia">
            <soap12:operation soapAction="urn:trasmettiNotizia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NewsBatchWSHttpBinding" type="ns:NewsBatchWSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="trasmettiNotizia">
            <http:operation location="trasmettiNotizia"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NewsBatchWS">
        <wsdl:port binding="ns:NewsBatchWSSoap11Binding" name="NewsBatchWSHttpSoap11Endpoint">
            <soap:address location="http://localhost:8080/WSBL/services/NewsBatchWS.NewsBatchWSHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:NewsBatchWSSoap12Binding" name="NewsBatchWSHttpSoap12Endpoint">
            <soap12:address location="http://localhost:8080/WSBL/services/NewsBatchWS.NewsBatchWSHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:NewsBatchWSHttpBinding" name="NewsBatchWSHttpEndpoint">
            <http:address location="http://localhost:8080/WSBL/services/NewsBatchWS.NewsBatchWSHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
