Rilascio4/WSDL/WebServiceNews.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ax27="http://entity.uiip/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://ws.uiip" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.uiip">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax28="http://entity.uiip/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.uiip">
            <xs:import namespace="http://entity.uiip/xsd"/>
            <xs:element name="visualizza_per_parametro_offset">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="param" nillable="true" type="xs:string"/>
                        <xs:element name="ricerca" nillable="true" type="xs:string"/>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                        <xs:element name="inizio" type="xs:int"/>
                        <xs:element name="fine" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="visualizza_per_parametro_offsetResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ax27:Notizia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ritornaNotizia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_n" type="xs:int"/>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ritornaNotiziaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="ax27:Notizia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rilasciaNotizie">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="account" type="ax27:Account"/>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rilasciaNotizieResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="numeroTotNotizieFiltrate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                        <xs:element name="param" type="xs:string"/>
                        <xs:element name="ricerca" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="numeroTotNotizieFiltrateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="numeroTotNotizie">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="numeroTotNotizieResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="notizia_in_modifica">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="notizia" type="ax27:Notizia"/>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="notizia_in_modificaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modificaNotizia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="notizia" type="ax27:Notizia"/>
                        <xs:element name="account" type="ax27:Account"/>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modificaNotiziaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listaNotizeOffset">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="password" nillable="true" type="xs:string"/>
                        <xs:element name="inizio" type="xs:int"/>
                        <xs:element name="fine" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listaNotizeOffsetResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ax27:Notizia"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inserisciNotizia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="notizia" type="ax27:Notizia"/>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inserisciNotiziaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancellaNotizia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="notizia" type="ax27:Notizia"/>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancellaNotiziaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="annullaModifica">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_n" type="xs:int"/>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="annullaModificaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.uiip/xsd">
            <xs:complexType name="Notizia">
                <xs:sequence>
                    <xs:element name="autore" nillable="true" type="xs:string"/>
                    <xs:element name="datacreazione" type="xs:string"/>
                    <xs:element minOccurs="0" name="datatrasmissione" nillable="true" type="xs:string"/>
                    <xs:element name="id_N" type="xs:int"/>
                    <xs:element name="lock_n" nillable="true" type="xs:string"/>
                    <xs:element name="lunghezzatesto" type="xs:int"/>
                    <xs:element name="sottotitolo" nillable="true" type="xs:string"/>
                    <xs:element name="stato" nillable="true" type="xs:string"/>
                    <xs:element name="testo" nillable="true" type="xs:string"/>
                    <xs:element name="titolo" nillable="true" type="xs:string"/>
                    <xs:element name="ultimoAccesso" type="xs:string"/>
                    <xs:element name="ultimodigitatore" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Account">
                <xs:sequence>
                    <xs:element name="cognome" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" name="gruppi" nillable="true" type="ax27:Gruppo"/>
                    <xs:element name="nome" nillable="true" type="xs:string"/>
                    <xs:element name="password" type="xs:string"/>
                    <xs:element name="sigla_giornalista" nillable="true" type="xs:string"/>
                    <xs:element name="sigla_redazione" nillable="true" type="xs:string"/>
                    <xs:element name="stato" nillable="true" type="xs:string"/>
                    <xs:element name="username" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Gruppo">
                <xs:sequence>
                    <xs:element name="funzioni" nillable="true" type="xs:anyType"/>
                    <xs:element name="id_g" type="xs:string"/>
                    <xs:element name="nomeGruppo" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="rilasciaNotizieRequest">
        <wsdl:part element="ns:rilasciaNotizie" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="rilasciaNotizieResponse">
        <wsdl:part element="ns:rilasciaNotizieResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ritornaNotiziaRequest">
        <wsdl:part element="ns:ritornaNotizia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ritornaNotiziaResponse">
        <wsdl:part element="ns:ritornaNotiziaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listaNotizeOffsetRequest">
        <wsdl:part element="ns:listaNotizeOffset" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listaNotizeOffsetResponse">
        <wsdl:part element="ns:listaNotizeOffsetResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="annullaModificaRequest">
        <wsdl:part element="ns:annullaModifica" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="annullaModificaResponse">
        <wsdl:part element="ns:annullaModificaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cancellaNotiziaRequest">
        <wsdl:part element="ns:cancellaNotizia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cancellaNotiziaResponse">
        <wsdl:part element="ns:cancellaNotiziaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="notizia_in_modificaRequest">
        <wsdl:part element="ns:notizia_in_modifica" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="notizia_in_modificaResponse">
        <wsdl:part element="ns:notizia_in_modificaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="visualizza_per_parametro_offsetRequest">
        <wsdl:part element="ns:visualizza_per_parametro_offset" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="visualizza_per_parametro_offsetResponse">
        <wsdl:part element="ns:visualizza_per_parametro_offsetResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificaNotiziaRequest">
        <wsdl:part element="ns:modificaNotizia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificaNotiziaResponse">
        <wsdl:part element="ns:modificaNotiziaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="numeroTotNotizieRequest">
        <wsdl:part element="ns:numeroTotNotizie" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="numeroTotNotizieResponse">
        <wsdl:part element="ns:numeroTotNotizieResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="inserisciNotiziaRequest">
        <wsdl:part element="ns:inserisciNotizia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="inserisciNotiziaResponse">
        <wsdl:part element="ns:inserisciNotiziaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="numeroTotNotizieFiltrateRequest">
        <wsdl:part element="ns:numeroTotNotizieFiltrate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="numeroTotNotizieFiltrateResponse">
        <wsdl:part element="ns:numeroTotNotizieFiltrateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="NewsWSPortType">
        <wsdl:operation name="rilasciaNotizie">
            <wsdl:input message="ns:rilasciaNotizieRequest" wsaw:Action="urn:rilasciaNotizie"/>
            <wsdl:output message="ns:rilasciaNotizieResponse" wsaw:Action="urn:rilasciaNotizieResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ritornaNotizia">
            <wsdl:input message="ns:ritornaNotiziaRequest" wsaw:Action="urn:ritornaNotizia"/>
            <wsdl:output message="ns:ritornaNotiziaResponse" wsaw:Action="urn:ritornaNotiziaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listaNotizeOffset">
            <wsdl:input message="ns:listaNotizeOffsetRequest" wsaw:Action="urn:listaNotizeOffset"/>
            <wsdl:output message="ns:listaNotizeOffsetResponse" wsaw:Action="urn:listaNotizeOffsetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="annullaModifica">
            <wsdl:input message="ns:annullaModificaRequest" wsaw:Action="urn:annullaModifica"/>
            <wsdl:output message="ns:annullaModificaResponse" wsaw:Action="urn:annullaModificaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cancellaNotizia">
            <wsdl:input message="ns:cancellaNotiziaRequest" wsaw:Action="urn:cancellaNotizia"/>
            <wsdl:output message="ns:cancellaNotiziaResponse" wsaw:Action="urn:cancellaNotiziaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="notizia_in_modifica">
            <wsdl:input message="ns:notizia_in_modificaRequest" wsaw:Action="urn:notizia_in_modifica"/>
            <wsdl:output message="ns:notizia_in_modificaResponse" wsaw:Action="urn:notizia_in_modificaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="visualizza_per_parametro_offset">
            <wsdl:input message="ns:visualizza_per_parametro_offsetRequest" wsaw:Action="urn:visualizza_per_parametro_offset"/>
            <wsdl:output message="ns:visualizza_per_parametro_offsetResponse" wsaw:Action="urn:visualizza_per_parametro_offsetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="modificaNotizia">
            <wsdl:input message="ns:modificaNotiziaRequest" wsaw:Action="urn:modificaNotizia"/>
            <wsdl:output message="ns:modificaNotiziaResponse" wsaw:Action="urn:modificaNotiziaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="numeroTotNotizie">
            <wsdl:input message="ns:numeroTotNotizieRequest" wsaw:Action="urn:numeroTotNotizie"/>
            <wsdl:output message="ns:numeroTotNotizieResponse" wsaw:Action="urn:numeroTotNotizieResponse"/>
        </wsdl:operation>
        <wsdl:operation name="inserisciNotizia">
            <wsdl:input message="ns:inserisciNotiziaRequest" wsaw:Action="urn:inserisciNotizia"/>
            <wsdl:output message="ns:inserisciNotiziaResponse" wsaw:Action="urn:inserisciNotiziaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="numeroTotNotizieFiltrate">
            <wsdl:input message="ns:numeroTotNotizieFiltrateRequest" wsaw:Action="urn:numeroTotNotizieFiltrate"/>
            <wsdl:output message="ns:numeroTotNotizieFiltrateResponse" wsaw:Action="urn:numeroTotNotizieFiltrateResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NewsWSSoap11Binding" type="ns:NewsWSPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ritornaNotizia">
            <soap:operation soapAction="urn:ritornaNotizia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="rilasciaNotizie">
            <soap:operation soapAction="urn:rilasciaNotizie" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listaNotizeOffset">
            <soap:operation soapAction="urn:listaNotizeOffset" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaNotizia">
            <soap:operation soapAction="urn:cancellaNotizia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="annullaModifica">
            <soap:operation soapAction="urn:annullaModifica" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="notizia_in_modifica">
            <soap:operation soapAction="urn:notizia_in_modifica" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="visualizza_per_parametro_offset">
            <soap:operation soapAction="urn:visualizza_per_parametro_offset" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modificaNotizia">
            <soap:operation soapAction="urn:modificaNotizia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="numeroTotNotizie">
            <soap:operation soapAction="urn:numeroTotNotizie" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="numeroTotNotizieFiltrate">
            <soap:operation soapAction="urn:numeroTotNotizieFiltrate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inserisciNotizia">
            <soap:operation soapAction="urn:inserisciNotizia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NewsWSSoap12Binding" type="ns:NewsWSPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ritornaNotizia">
            <soap12:operation soapAction="urn:ritornaNotizia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="rilasciaNotizie">
            <soap12:operation soapAction="urn:rilasciaNotizie" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listaNotizeOffset">
            <soap12:operation soapAction="urn:listaNotizeOffset" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaNotizia">
            <soap12:operation soapAction="urn:cancellaNotizia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="annullaModifica">
            <soap12:operation soapAction="urn:annullaModifica" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="notizia_in_modifica">
            <soap12:operation soapAction="urn:notizia_in_modifica" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="visualizza_per_parametro_offset">
            <soap12:operation soapAction="urn:visualizza_per_parametro_offset" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modificaNotizia">
            <soap12:operation soapAction="urn:modificaNotizia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="numeroTotNotizie">
            <soap12:operation soapAction="urn:numeroTotNotizie" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="numeroTotNotizieFiltrate">
            <soap12:operation soapAction="urn:numeroTotNotizieFiltrate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inserisciNotizia">
            <soap12:operation soapAction="urn:inserisciNotizia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NewsWSHttpBinding" type="ns:NewsWSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="ritornaNotizia">
            <http:operation location="ritornaNotizia"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="rilasciaNotizie">
            <http:operation location="rilasciaNotizie"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listaNotizeOffset">
            <http:operation location="listaNotizeOffset"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaNotizia">
            <http:operation location="cancellaNotizia"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="annullaModifica">
            <http:operation location="annullaModifica"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="notizia_in_modifica">
            <http:operation location="notizia_in_modifica"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="visualizza_per_parametro_offset">
            <http:operation location="visualizza_per_parametro_offset"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modificaNotizia">
            <http:operation location="modificaNotizia"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="numeroTotNotizie">
            <http:operation location="numeroTotNotizie"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="numeroTotNotizieFiltrate">
            <http:operation location="numeroTotNotizieFiltrate"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="inserisciNotizia">
            <http:operation location="inserisciNotizia"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NewsWS">
        <wsdl:port binding="ns:NewsWSSoap11Binding" name="NewsWSHttpSoap11Endpoint">
            <soap:address location="http://localhost:8080/WSBL/services/NewsWS.NewsWSHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:NewsWSSoap12Binding" name="NewsWSHttpSoap12Endpoint">
            <soap12:address location="http://localhost:8080/WSBL/services/NewsWS.NewsWSHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:NewsWSHttpBinding" name="NewsWSHttpEndpoint">
            <http:address location="http://localhost:8080/WSBL/services/NewsWS.NewsWSHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
