Rilascio3/WAR/CartelleCondiviseEFileXML/XML_Quartz/NotiziaTransimittedSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 

 <xs:element name="notizia">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="autore" type="xs:string" default="RCV"/>
			<xs:element name="titolo" type="xs:string"/>
			<xs:element name="sottotitolo" type="xs:string"/>
			<xs:element name="testo" type="xs:string"/>
			<xs:element name="ultimodigitatore" type="xs:string"/>
			<xs:element name="datacreazione" type="xs:string"/>
			<xs:element name="datatrasmissione" type="xs:string"/>
			<xs:element name="lunghezzatesto" type="xs:integer"/>		
		</xs:sequence>
	</xs:complexType>
 </xs:element>
</xs:schema> 