Rilascio3/WSDL/WebServiceAccount.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ax21="http://entity.uiip/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://ws.uiip" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.uiip">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://entity.uiip/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.uiip">
            <xs:import namespace="http://entity.uiip/xsd"/>
            <xs:element name="ritornaAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="user" type="xs:string"/>
                        <xs:element name="pass" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ritornaAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" nillable="true" type="ax21:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modificaAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="account" type="ax21:Account"/>
                        <xs:element name="user" type="xs:string"/>
                        <xs:element name="pass" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modificaAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listaAccountOffset">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user" type="xs:string"/>
                        <xs:element name="pass" type="xs:string"/>
                        <xs:element name="inizio" type="xs:int"/>
                        <xs:element name="fine" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listaAccountOffsetResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" nillable="true" type="ax21:Account"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inserisciAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="account" type="ax21:Account"/>
                        <xs:element name="user" type="xs:string"/>
                        <xs:element name="pass" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="inserisciAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancellaAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="account" type="ax21:Account"/>
                        <xs:element name="user" type="xs:string"/>
                        <xs:element name="pass" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancellaAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.uiip/xsd">
            <xs:complexType name="Account">
                <xs:sequence>
                    <xs:element name="cognome" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" name="gruppi" nillable="true" type="ax21:Gruppo"/>
                    <xs:element name="nome" nillable="true" type="xs:string"/>
                    <xs:element name="password" type="xs:string"/>
                    <xs:element minOccurs="0" name="sigla_giornalista" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sigla_redazione" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string"/>
                    <xs:element name="username" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Gruppo">
                <xs:sequence>
                    <xs:element name="funzioni" nillable="true" type="xs:anyType"/>
                    <xs:element name="id_g" type="xs:string"/>
                    <xs:element name="nomeGruppo" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="inserisciAccountRequest">
        <wsdl:part element="ns:inserisciAccount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="inserisciAccountResponse">
        <wsdl:part element="ns:inserisciAccountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listaAccountOffsetRequest">
        <wsdl:part element="ns:listaAccountOffset" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listaAccountOffsetResponse">
        <wsdl:part element="ns:listaAccountOffsetResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ritornaAccountRequest">
        <wsdl:part element="ns:ritornaAccount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ritornaAccountResponse">
        <wsdl:part element="ns:ritornaAccountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificaAccountRequest">
        <wsdl:part element="ns:modificaAccount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificaAccountResponse">
        <wsdl:part element="ns:modificaAccountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cancellaAccountRequest">
        <wsdl:part element="ns:cancellaAccount" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cancellaAccountResponse">
        <wsdl:part element="ns:cancellaAccountResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="AccountWSPortType">
        <wsdl:operation name="inserisciAccount">
            <wsdl:input message="ns:inserisciAccountRequest" wsaw:Action="urn:inserisciAccount"/>
            <wsdl:output message="ns:inserisciAccountResponse" wsaw:Action="urn:inserisciAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listaAccountOffset">
            <wsdl:input message="ns:listaAccountOffsetRequest" wsaw:Action="urn:listaAccountOffset"/>
            <wsdl:output message="ns:listaAccountOffsetResponse" wsaw:Action="urn:listaAccountOffsetResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ritornaAccount">
            <wsdl:input message="ns:ritornaAccountRequest" wsaw:Action="urn:ritornaAccount"/>
            <wsdl:output message="ns:ritornaAccountResponse" wsaw:Action="urn:ritornaAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="modificaAccount">
            <wsdl:input message="ns:modificaAccountRequest" wsaw:Action="urn:modificaAccount"/>
            <wsdl:output message="ns:modificaAccountResponse" wsaw:Action="urn:modificaAccountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cancellaAccount">
            <wsdl:input message="ns:cancellaAccountRequest" wsaw:Action="urn:cancellaAccount"/>
            <wsdl:output message="ns:cancellaAccountResponse" wsaw:Action="urn:cancellaAccountResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AccountWSSoap11Binding" type="ns:AccountWSPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="inserisciAccount">
            <soap:operation soapAction="urn:inserisciAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listaAccountOffset">
            <soap:operation soapAction="urn:listaAccountOffset" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ritornaAccount">
            <soap:operation soapAction="urn:ritornaAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modificaAccount">
            <soap:operation soapAction="urn:modificaAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaAccount">
            <soap:operation soapAction="urn:cancellaAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AccountWSSoap12Binding" type="ns:AccountWSPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="inserisciAccount">
            <soap12:operation soapAction="urn:inserisciAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listaAccountOffset">
            <soap12:operation soapAction="urn:listaAccountOffset" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ritornaAccount">
            <soap12:operation soapAction="urn:ritornaAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modificaAccount">
            <soap12:operation soapAction="urn:modificaAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaAccount">
            <soap12:operation soapAction="urn:cancellaAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AccountWSHttpBinding" type="ns:AccountWSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="inserisciAccount">
            <http:operation location="inserisciAccount"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listaAccountOffset">
            <http:operation location="listaAccountOffset"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ritornaAccount">
            <http:operation location="ritornaAccount"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modificaAccount">
            <http:operation location="modificaAccount"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancellaAccount">
            <http:operation location="cancellaAccount"/>
            <wsdl:input>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="application/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AccountWS">
        <wsdl:port binding="ns:AccountWSSoap11Binding" name="AccountWSHttpSoap11Endpoint">
            <soap:address location="http://localhost:8080/WSBL/services/AccountWS.AccountWSHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:AccountWSSoap12Binding" name="AccountWSHttpSoap12Endpoint">
            <soap12:address location="http://localhost:8080/WSBL/services/AccountWS.AccountWSHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:AccountWSHttpBinding" name="AccountWSHttpEndpoint">
            <http:address location="http://localhost:8080/WSBL/services/AccountWS.AccountWSHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
